Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.10
ansible==1.7.1
dockerpty==0.2.3
docopt==0.6.1
ecdsa==0.11
fig==0.5.2
paramiko==1.14.0
pycrypto==2.6.1
requests==2.2.1
texttable==0.8.1
websocket-client==0.11.0
wsgiref==0.1.2
